<section id="accordion-tabs" class="layout accordion tabs" data-menutitle="Accordions - Tab">
	<div class="wrapper">
		<h2 class="section-title">Accordion - Tabs</h2>
		<div class="row">
			<div class="col">
				<div class="tab-nav">
					<span class="tab-select">Select One:</span>
					<ul class="tab-list">
						<li class="tab-link"><a href="#tab-1">Item 0</a>
						</li>
						<li class="tab-link"><a href="#tab-2">Item 1</a>
						</li>
						<li class="tab-link"><a href="#tab-3">Item 2</a>
						</li>
					</ul>
				</div>
				<div class="content">
					<div class="acc-item">
						<div id="tab-1" class="acc-item-wrap">
							<h3>One - Lorem ipsum dolor sit amet, consectetur</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique animi veniam quis
								suscipit libero eaque aliquid voluptatem sint soluta obcaecati!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam vitae repellat,
								officia eum. Vitae perspiciatis eveniet, vel laudantium similique deserunt mollitia quod
								non. Modi voluptatibus quaerat nostrum soluta
								fugiat?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, architecto.</p>
							<ul>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi laudantium libero
								doloremque reiciendis esse, quia, ducimus qui tempora consequatur!</p>
								<div class="component buttons">
									<a href="javascript:void(0)" class="btn btn-1 small">Button</a>
								</div>
						</div>
					</div>
					<div class="acc-item">
						<div id="tab-2" class="acc-item-wrap">
							<h3>Two - Lorem ipsum dolor sit amet, consectetur</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique animi veniam quis
								suscipit libero eaque aliquid voluptatem sint soluta obcaecati!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam vitae repellat,
								officia eum. Vitae perspiciatis eveniet, vel laudantium similique deserunt mollitia quod
								non. Modi voluptatibus quaerat nostrum soluta
								fugiat?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, architecto.</p>
							<ul>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi laudantium libero
								doloremque reiciendis esse, quia, ducimus qui tempora consequatur!</p>
						</div>
					</div>
					<div class="acc-item">
						<div id="tab-3" class="acc-item-wrap">
							<h3>Three - Lorem ipsum dolor sit amet, consectetur</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique animi veniam quis
								suscipit libero eaque aliquid voluptatem sint soluta obcaecati!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nam vitae repellat,
								officia eum. Vitae perspiciatis eveniet, vel laudantium similique deserunt mollitia quod
								non. Modi voluptatibus quaerat nostrum soluta
								fugiat?</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, architecto.</p>
							<ul>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
								<li>Lorem ipsum dolor sit amet</li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi laudantium libero
								doloremque reiciendis esse, quia, ducimus qui tempora consequatur!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>