<article id="article" class="layout article post" data-menutitle="Article">
	<div class="wrapper">
		<h2 class="section-title">Article (post)</h2>
		<div class="row">
			<div class="col left">
				<h1 class="h3 title">Lorem ipsum dolor sit amet consectetur	</h1>
				<div class="meta">By: Phil Backer | August 7th, 2020</div>
			</div>
			<div class="col right">
				<div class="social-share">
					<input type="checkbox" href="javascript:void(0)" class="share-checkbox" name="share-open" id="share-open"/>
					<label class="share-label" for="share-open">Share <i class="fas fa-share" aria-hidden="true"></i></label>
					<ul class="social">
						<li class="social-item"><a href="https://www.facebook.com/sharer.php?u=https://www.nba2lou.com" target="_blank"><span class="visually-hide-text">Facebook</span><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
						<li class="social-item"><a href="https://twitter.com/share?url=https://www.nba2lou.com&amp;text=Title Will Go Here" target="_blank"><span class="visually-hide-text">Twitter</span><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
						<li class="social-item"><a href="https://www.linkedin.com/shareArticle?url=https://www.nba2lou.com&amp;title=Title Will Go Here" target="_blank"><span class="visually-hide-text">LinkedIn</span><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<img src="https://placehold.co/400x500" alt="Place holder image">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ea, fugit molestias earum voluptas tenetur fugiat facere at, sed a officiis suscipit in enim ratione, non exercitationem quasi facilis repudiandae.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia minus fugiat sequi asperiores culpa totam possimus, natus dicta quas sint ut qui cumque ipsa commodi delectus sunt harum fuga dolor, adipisci facere. Corporis earum nesciunt atque amet ratione ipsum numquam. Autem, recusandae voluptas minus molestias incidunt omnis iste soluta nesciunt voluptates aut sapiente debitis cumque facilis consectetur aspernatur laborum optio, fugit reprehenderit adipisci. Vitae quis quasi odit porro sapiente accusantium perspiciatis fugiat, quo magnam placeat, dicta labore, nemo corrupti. Architecto aperiam maxime qui corporis doloremque iusto, doloribus rem deleniti vitae, blanditiis porro sint, nulla dignissimos obcaecati ea. Quisquam, totam!</p>
				<blockquote>
					<p>“Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.”</p>
				</blockquote>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ea, fugit molestias earum voluptas tenetur fugiat facere at, sed a officiis suscipit in enim ratione, non exercitationem quasi facilis repudiandae.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia minus fugiat sequi asperiores culpa totam possimus, natus dicta quas sint ut qui cumque ipsa commodi delectus sunt harum fuga dolor, adipisci facere. Corporis earum nesciunt atque amet ratione ipsum numquam. Autem, recusandae voluptas minus molestias incidunt omnis iste soluta nesciunt voluptates aut sapiente debitis cumque facilis consectetur aspernatur laborum optio, fugit reprehenderit adipisci. Vitae quis quasi odit porro sapiente accusantium perspiciatis fugiat, quo magnam placeat, dicta labore, nemo corrupti. Architecto aperiam maxime qui corporis doloremque iusto, doloribus rem deleniti vitae, blanditiis porro sint, nulla dignissimos obcaecati ea. Quisquam, totam!</p>
				<p><a href="#" target="_self">CONTACT US</a></p>
			</div>
		</div>
	</div>
</article>