<section id="basic-content-1" class="layout basic-content align-center" data-aos="fade-up" data-aos-offset="300" data-menutitle="Basic Content">
	<div class="component intro">
		<div class="wrapper">
			<!-- <img src="assets/img/ky.svg" class="svg ky" alt="Kentucky is NBA Ready"> -->
			<h2 class="h1">
				<span class="white">Let's Go</span>
				<span class="orange">Pro.</span>
			</h2>
			<h3 class="subtitle">This can be a subtitle.</h3>
		</div>
	</div>
	<div class="wrapper">
		<!-- <h2 class="section-title">Basic Content</h2> -->
		<div class="row">
			<div class="col">
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<p class="orange horizontal"><span>Detail here</span><span>And here</span><span>And another one here</span></p>
					<p class="orange vertical"><span>Detail here</span><span>And here</span><span>And another one here</span></p>
					<!-- <div class="component buttons align-center">
						<a href="#" class="btn">Button Title Here</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>

<section class="layout basic-content align-center has-bg"">
	<!-- Class options: top, middle, or bottom -->
	<div class="bg-image bottom" style="background-image: url('assets/img/bg_space.jpg');"></div>
	<div data-aos="fade-up" data-aos-offset="300">
		@include('intro.html')
		<div class="wrapper">
			<div class="row">
				<div class="col">
					<div class="content">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
							laboris nisi ut aliquip ex ea
							commodo consequat. Duis aute.</p>
						<div class="component buttons align-center">
							<a href="#" class="btn">Button Title Here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="layout basic-content align-left" data-menutitle="Basic Content">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="h1">
						<span class="white"></span>Let's Go 
						<span class="orange">Pro.</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="component buttons align-left">
						<a href="#" class="btn">Button Title Here</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="layout basic-content align-right" data-menutitle="Basic Content">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="h1">
						<span class="white"></span>Let's Go 
						<span class="orange">Pro.</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="component buttons align-right">
						<a href="#" class="btn">Button Title Here</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->