<section id="cards-0" class="layout cards" data-aos="fade-up" data-aos-offset="300" data-menutitle="Cards - One">
    <div class="component intro">
        <div class="wrapper">
            <div class="text-align-center">
                <h1 class="h1">
                    <span class="orange no-break">Committees</span>
                </h1>
                <h2 class="subtitle">Example Committee</h2>
            </div>
        </div>
    </div>
    
	<div class="wrapper">
		<div class="rows">
			<div class="col">
				<ul class="card-list">
					<li class="card" v-for="n in 1">
                        <img src="https://via.placeholder.com/350x400.png" alt="Card image">
                        <h3 class="title">Steve Higdon</h3>
                        <p>Committee Chair</p>
					</li>
                </ul>
                <ul class="items">
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://www.google.com" target="_blank">
                            <h4 class="title">Name Goes Here</h4>
                            <p>Company Name</p>
                        </a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</section>