<section id="cards-1" class="layout cards" data-menutitle="Cards - One">
	<div class="wrapper">
		<h2 class="section-title">Cards - 1 Card</h2>
		<div class="rows">
			<div class="col">
				<ul class="card-list">
					<li class="card" v-for="n in 1">
						<a href="#">
							<img src="https://via.placeholder.com/350x400.png" alt="Card image">
							<h3 class="title">Content</h3>
							<p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
							<a class="btn" href="#test">Button</a>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>