<section id="cards-3" class="layout cards" data-menutitle="Cards - Three">
	<div class="wrapper">
		<h2 class="section-title">Cards - 3 Cards</h2>
		<div class="rows">
			<div class="col">
				<ul class="card-list">
					<li class="card">
						<a href="javascript:void(0)" alt="Company Name">
							<img src="https://via.placeholder.com/350x400.png" alt="Card image">
							<h3 class="title">Pharetra Dapibus Cras</h3>
							<p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
						</a>
					</li>
					<li class="card">
						<a href="javascript:void(0)" alt="Company Name">
							<img src="https://via.placeholder.com/350x400.png" alt="Card image">
							<h3 class="title">Purus Lorem Dolor Malesuada Ridiculus</h3>
							<p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
						</a>
					</li>
					<li class="card">
						<a href="javascript:void(0)" alt="Company Name">
							<img src="https://via.placeholder.com/350x400.png" alt="Card image">
							<h3 class="title">Fusce Venenatis</h3>
							<p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>