<section id="hero-style-3-1" class="layout hero style-3" data-menutitle="Hero - Style 3">
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 3 - v1</h2>
	</div>
	<img class="bg-image" src="assets/img/bg_louisville_player.jpg" alt="">
	<div class="wrapper">
		<p class="text-align-center orange">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, esse.</p>	
	</div>
</section>

<section id="hero-style-3-2" class="layout hero style-3" data-menutitle="Hero - Style 3">
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 3 - v2</h2>
	</div>
	<div class="bg-video">
		<!-- <div class="poster">
			<a class="play-link" href="javascript:;"><img class="play-btn" src="assets/img/play_arrow.svg" alt=""></a>
			<img src="assets/img/bg_video_placeholder.jpg" alt="">
		</div> -->
		<div class="embed-container">
			<iframe src="https://www.youtube.com/embed//bPTEG-SUasc" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</section>