<section id="hero-style-2-1" class="layout hero style-2" data-menutitle="Hero - Style 2">
	<div class="bg-image" style="background-image: url('assets/img/bg_palm.jpg');"></div>
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 2 - v1</h2>
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="h1">
						<span class="white">Board + </span>
						<span class="orange">Support</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="component buttons align-left">
						<a href="#" class="btn">Our Basketball Culture</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="hero-style-2-1" class="layout hero style-2" data-menutitle="Hero - Style 2">
	<div class="bg-image" style="background-image: url('assets/img/bg_court.jpg');"></div>
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 2 - v2</h2>
		<div class="row">
			<div class="col">
				<div class="content">
					<h2 class="h1">
						<span class="white break">Let's</span>
						<span class="orange">Do This</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
					<div class="component buttons align-left">
						<a href="#" class="btn">Learn more</a>
						<a href="#" class="btn">Sign up now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>