<section id="layout-3" class="layout hero style-1" data-menutitle="Hero - Style 1">
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 1 - v1</h2>
		<div class="row">
			<div class="col">
				<div class="image" data-aos-id="hero-1-svg" data-aos="fade-in">
					<img src="assets/img/player_lockup_1.svg" class="svg" alt="Player dunking basketball">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
				</div>
			</div>
		</div>
		<div class="component buttons align-center">
			<a href="#" class="btn">Our Basketball Culture</a>
		</div>
	</div>
</section>

<section id="layout-2" class="layout hero style-1" data-menutitle="Hero - Style 1">
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 1 - v2</h2>
		<div class="row">
			<div class="col">
				<div class="image">
					<img src="assets/img/player_lockup_2.svg" class="svg" alt="Player dunking basketball">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
				</div>
			</div>
		</div>
		<div class="component buttons align-center">
			<a href="#" class="btn">Our Basketball Culture</a>
		</div>
	</div>
</section>

<!-- <section id="hero-style-1-3" class="layout hero style-1" data-menutitle="Hero - Style 1">
	<div class="bg-image" style="background-image: url('assets/img/bg_space.jpg');"></div>
	<div class="wrapper">
		<h2 class="section-title">Hero - Style 1 - v3</h2>
		<div class="row">
			<div class="col">
				<div class="image">
					<img src="assets/img/player_lockup_2.svg" class="svg" alt="Player dunking basketball">
				</div>
			</div>
			<div class="col">
				<div class="content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea
						commodo consequat. Duis aute.</p>
				</div>
			</div>
		</div>
		<div class="component buttons align-center">
			<a href="#" class="btn">Our Basketball Culture</a>
		</div>
	</div>
</section> -->