<section id="hero-style-4" class="layout hero style-4-jen" data-menutitle="Hero - Style 4">
	<div class="bg-image" style="background-image: url('assets/img/bg_space.jpg');"></div>
	<div class="wrapper">
		<!-- <h2 class="section-title">Hero - Style 4</h2> -->
		<div class="row">
			<div class="col">
				<div class="buttons">
					<a href="#" class="btn-hero">News + Events</a>
					<a href="#" class="btn-hero"><img src="assets/img/ky.svg" class="svg ky" alt="Kentucky is NBA Ready">NBA Ready</a>
					<a href="#" class="btn-hero">Ambassador Club</a>
				</div>
				<div class="square">
					<!-- <div class="test-buttons">
						<a href="#" class="btn-hero">News + Events</a>
						<a href="#" class="btn-hero"><img src="assets/img/ky.svg" class="svg ky" alt="Kentucky is NBA Ready">NBA Ready</a>
						<a href="#" class="btn-hero">Ambassador Club</a>
					</div> -->
					<img class="basketball" src="assets/img/basketball_shadow.png" alt="Basketball">
					<div class="point one"></div>
					<div class="point two"></div>
				</div>
			</div>
		</div>
	</div>
</section>