<section id="layout-1" class="layout hero style-4" data-menutitle="Hero - Style 4">
	<div class="bg-image top" style="background-image: url('assets/img/bg_space_large.jpg');"></div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="square links">
					<div class="buttons">
						<a href="#" class="btn-hero">News + Events</a>
						<a href="#" class="btn-hero"><img src="assets/img/ky.svg" class="svg ky" alt="Kentucky is NBA Ready">NBA Ready</a>
						<a href="#" class="btn-hero">Join the Club</a>
					</div>
                    <a class="scroll" href="#basic-content-1">Scroll Down<img src="/assets/img/arrow-down.svg" class="svg" alt="Down arrow"></a>
                    <img class="lines svg" src="assets/img/basketball_lines.svg" alt="Lines">
                    <img class="basketball" src="assets/img/basketball_shadow.png" alt="Basketball">
				</div>
			</div>
		</div>
	</div>
</section>