<section id="listing-ambassador-grid" class="layout listing ambassadors grid" data-aos="fade-up" data-aos-offset="300" data-menutitle="Listing - Grid">
	<div class="wrapper">
		<h2 class="section-title">Listing - Ambassadors (grid)</h2>
		<div class="row">
			<ul class="items">
				<li class="item" v-for="n in 30">
					@include('listing-item-1.html')
				</li>
			</ul>
			<div class="buttons load-more">
				<button class="btn">Load more</button>
			</div>
		</div>
	</div>
</section>

<section id="listing-post-grid" class="layout listing post grid" data-aos="fade-up" data-aos-offset="300" data-menutitle="Listing - Grid">
	<div class="wrapper">
		<h2 class="section-title">Listing - Post (grid)</h2>
		<div class="row">
			<ul class="items">
				<li class="item" v-for="n in 6">
					@include('listing-item-3.html')
				</li>
			</ul>
		</div>
	</div>
</section>

<section id="listing-post-grid" class="layout listing event grid" data-aos="fade-up" data-aos-offset="300" data-menutitle="Listing - Grid">
	<div class="wrapper">
		<h2 class="section-title">Listing - Event (grid)</h2>
		<div class="row">
			<ul class="items">
				<li class="item" v-for="n in 6">
					@include('listing-item-4.html')
				</li>
			</ul>
		</div>
	</div>
</section>