<section class="layout gallery">
    <div class="component intro">
        <div class="wrapper">
            <div class="text-align-center">
                <h1 class="h1">
                    <span class="orange no-break">Logo Gallery</span>
                </h1>
                <h2 class="subtitle">A subtitle can go here</h2>    
            </div>
        </div>
    </div>    
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="glide logos">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide slide-0"><img src="/assets/img/sponsor-logo-1.png" alt="alt text here"></li>
                            <li class="glide__slide slide-1"><img src="/assets/img/sponsor-logo-2.png" alt="alt text here"></li>
                            <li class="glide__slide slide-2"><img src="/assets/img/sponsor-logo-3.png" alt="alt text here"></li>
                            <li class="glide__slide slide-3"><img src="/assets/img/sponsor-logo-4.png" alt="alt text here"></li>
                            <li class="glide__slide slide-4"><img src="/assets/img/sponsor-logo-5.png" alt="alt text here"></li>
                            <li class="glide__slide slide-5"><img src="/assets/img/sponsor-logo-2.png" alt="alt text here"></li>
                            <li class="glide__slide slide-6"><img src="/assets/img/sponsor-logo-4.png" alt="alt text here"></li>
                            <li class="glide__slide slide-7"><img src="/assets/img/sponsor-logo-1.png" alt="alt text here"></li>
                            <li class="glide__slide slide-8"><img src="/assets/img/sponsor-logo-5.png" alt="alt text here"></li>
                            <li class="glide__slide slide-9"><img src="/assets/img/sponsor-logo-3.png" alt="alt text here"></li>
                        </ul>
                    </div>
                    <div class="glide__controls" data-glide-el="controls">
                        <button data-glide-dir="<"><img src="assets/img/arrow-left.svg" class="svg" alt="Left arrow"></button>
                        <button data-glide-dir=">"><img src="assets/img/arrow-right.svg" class="svg" alt="Right arrow"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>